<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net461" />
  <package id="NotificationsExtensions.Win10" version="14332.0.2" targetFramework="net461" />
  <package id="ToastNotifications" version="2.5.0" targetFramework="net461" />
</packages>