#error this file has been moved to the english "en" subdirectory.

As a result of internationalizing Empower source code, the content of 
this file has been intentionally cleared.

The corresponding file can be found under "en" folder. Please check 
in your source code there.